#container {
    display: flex;
    flex-direction: column;
    border-style: solid;
    width: 960px;
    height: 960px;
}

.grid-row {
    display: flex;
    border-style: solid;
    border: 0;
    flex: 1 1 auto;
}

.grid-square {
    background-color: green;
    margin: 0px;
    flex: 1 1 auto;
}

body {
    display: flex;
    flex-direction:column;
    align-items: center;
}

#prompt-button {
    width: 200px;
    height: 90px;
    font-size: 30px;
}